.titulo_h3{
    color: red;
}
/*selectores de etiquetas*/
header{
    /*todos las etiquetas de header*/
    background-color: #444;
}
h1{
    /*todas etiquetras h1*/
    color: #eee;
}
h2{
    /*todas las etiquetas h2*/
    font-family: sans-serif;
}
section, aside{
    border: 1px solid gray;
}
a{
    color: crimson;
}
.enlace_importante{
    /*todos los elementos o etiquetas que 
    tengan la clase enlace importante*/
    color: teal;

}
.titulo_h3{
    color: blue;
}
.boton_navegacion{
    text-decoration: none;
    font-family: cursive;
    color: yellow;
}
button.boton_navegacion{
    /*todas las etiquetas que sean del tipo button*/
    color: royalblue;
}
.boton_navegacion.activo{
    box-shadow: #aaa 0px 0px 20px;
}
#mifootter{
    background-color: #ccc;
}
article p{
    /*todos los parrafos que sean desendientes de in article*/
    color: #444;
    text-indent: 10px;
}
section > p{
    font-size: 13px;
    color: #bbb;
}
.publicidad_imagen + figcaption{
    /*el figcaption que sea hermano directo 
    de un elemnto con clase .publicida_imagen*/
    /*ojo ese figcaption debe ser hermano inferior
    de la clase */
    font-style: italic;
    font-size: 12px;
}
#mifooter a ~ button{
    /*Todo los button que sean hermanos sigiientes
    de a y estos, hijos de un elemento de id #miFooter*/
    border-radius: 6px;
    background-color: salmon;
}